@model AspNetUserRolesEntityFramework.Models.MachineLearningCompaniesFeedback

@{
    ViewData["Title"] = "Edit";
}

    <div style="margin-left:20px; margin-top: 10px;">
        <h1>Edit</h1>

        <h4>Feedback on Machine Learning Companies</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="PostDate" class="control-label"></label>
                        <input asp-for="PostDate" class="form-control" />
                        <span asp-validation-for="PostDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TopicTitle" class="control-label"></label>
                        <input asp-for="TopicTitle" class="form-control" />
                        <span asp-validation-for="TopicTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Company" class="control-label"></label>
                        <input asp-for="Company" class="form-control" />
                        <span asp-validation-for="Company" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StarRating" class="control-label"></label>
                        <input asp-for="StarRating" class="form-control" />
                        <span asp-validation-for="StarRating" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MessageContent" class="control-label"></label>
                        <textarea asp-for="MessageContent" class="form-control" rows="5" cols="20"></textarea>
                        <span asp-validation-for="MessageContent" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Like" class="control-label"></label>
                        <input asp-for="Like" class="form-control" />
                        <span asp-validation-for="Like" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Dislike" class="control-label"></label>
                        <input asp-for="Dislike" class="form-control" />
                        <span asp-validation-for="Dislike" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
