@{
    ViewData["Title"] = "About Page";
}

<link rel="stylesheet" href="~/css/style.css">



<body class="about">
    
        <!--- Section for Title and subtitle + background image -->
        <div class="about_background_image">
            <div class="heading">
                <h1 Style="padding-top: 60px;">Want to know more?</h1>
            </div>
            <div class="heading">
                <h2>See below for information regarding this website.</h2>
            </div>
        </div>

        <!--- Information regarding the website.
        Includes, contact information, copyright with regards
        to images used on the website. -->

        <h3 style="text-align: center;">
            This website was created by Christian Townsend, a student at the University of
            Canberra. Christian is studying part-time to complete Bachelor's degree in Software Engineering.
        </h3>

        <h3 style="text-align: center;">
            <a href="https://www.linkedin.com/in/christian-townsend-baab40151/">
                Click here to
                access Christian's LinkedIn profile.
            </a>
        </h3>
        <h3 style="text-align: center;">
            <a href="https://github.com/christian-townsend">
                Click here to
                access Christian's GitHub profile.
            </a>
        </h3>

        <h3 style="text-align: center;">
            If you would like to know more about the creation process with regards to this
            website, please contact Christian directly via u314644@uni.canberra.edu.au
        </h3>

        <h3 style="text-align: center;">
            All images used on this website are exhibited to you under a Creative Commons
            license. See Unsplash for more information.
        </h3>

        <footer class="about-footer">
            <em>Mady by Christian Townsend (u3146441).</em>
        </footer>
        
</body>