@{
    ViewData["Title"] = "Home Page";
}

    <link rel="stylesheet" href="~/css/style.css">



<body>

    <div id="page-container" style="width:100%">

        <!--First background image usinng parrallax scroll
        ------- Followed by heading and sub heading ---------->
        <div class="backgroundimage1">
            <div class="heading">
                <h1 Style="padding-top: 60px;">Data Science</h1>
            </div>
            <div class="heading">
                <h2>Data Scientist: The Sexiest Job of the 21st Century. Thomas H. Davenport and D.J Patil, 2012</h2>
            </div>
        </div>

        <div class="row">

            <!-- Artificial Intelligence Tile -->
            <div class="col-md-4 col-sm-6"
                 style="background-image:url(../images/artificial_intelligence.jpg); background-size:100%; background-repeat: no-repeat;">
                <h3>Artificial Intelligence</h3> <br />
                <p>
                    Artificial Intelligence and machine learning are being adopted into the enterprise at a rapid pace.
                    This trend is only likely to surge upward.<br /><br />
                    <a class="btn btn-outline-dark"
                       href="https://towardsdatascience.com/role-of-data-science-in-artificial-intelligence-950efedd2579">
                        Read more
                    </a>
                </p>
            </div>

            <!-- Statistics Tile -->
            <div class="col-md-4 col-sm-6"
                 style="background-image:url(../images/statistics.jpg); background-size:100%; background-repeat: no-repeat;">
                <h3 style="color: black;">Statistics</h3><br />
                <p>
                    Do you want to learn statistics for data science without taking a slow and expensive
                    course?<br /><br />
                    <a class="btn btn-outline-dark"
                       href="https://elitedatascience.com/learn-statistics-for-data-science">
                        Read more
                    </a>
                </p>
            </div>

            <!-- Machine Learning Tile -->
            <div class="col-md-4 col-sm-6"
                 style="background-image:url(../images/machine_learning.jpg); background-size:100%; background-repeat: no-repeat;">
                <h3>Machine Learning</h3><br />
                <p>
                    Machine Learning is a growing field that is used when searching the web, placing ads, credit
                    scoring, stock trading and for many other applications.<br /><br />
                    <a class="btn btn-outline-dark"
                       href="https://www.edx.org/course/machine-learning-data-science-analytics-1">
                        Read more
                    </a>
                </p>
            </div>

            <!-- Programming Languages Visualisation Tile -->
            <div class="col-md-4 col-sm-6"
                 style="background-image:url(../images/programming_languages.jpg); background-size:100%; background-repeat: no-repeat;">
                <h3>Programming Languages</h3>
                <p>
                    With a high demand for Data Scientists in industries, there is a need for people who possess the
                    required skills in order to become proficient in this field.<br /><br />
                    <a class="btn btn-outline-dark"
                       href="https://medium.com/datadriveninvestor/top-6-data-science-programming-languages-for-2019-39ba1b6819a8">
                        Read more
                    </a>
                </p>
            </div>

            <!-- Data Analysis Tile -->
            <div class="col-md-4 col-sm-6"
                 style="background-image:url(../images/data_analysis.jpg); background-size:100%; background-repeat: no-repeat;">
                <h3>Data Analysis</h3><br />
                <p>
                    What Is Data Analysis and Why Is It Important?<br /><br />
                    <a class="btn btn-outline-dark" href="https://towardsdatascience.com/tagged/data-analysis">
                        Read more
                    </a>
                </p>
            </div>

            <!-- Data Visualisation Tile -->
            <div class="col-md-4 col-sm-6"
                 style="background-image:url(../images/data_visualisation.jpg); background-size:100%; background-repeat: no-repeat;">
                <h3>Data Visualisation</h3><br />
                <p>
                    5 Minute Guide to Plotting with Pandas, The Easy Way to Do Advanced Data Visualisation for Data
                    Scientists<br /><br />
                    <a class="btn btn-outline-dark" href="https://towardsdatascience.com/data-visualization/home">
                        Read more
                    </a>
                </p>
            </div>

        </div>


        <!----Second Parralax Image -->
        <div class="backgroundimage2"></div>

        <div class="row">
            <!----What is Data Science Video -->
            <div class="col-lg-6 col-md-6 col-sm-12" style="padding-left: 0px; padding-right: 0%;">
                <iframe style="padding-left: 0px; padding-right: 0%" class="col-sm-12" height="400"
                        src="https://www.youtube.com/embed/X3paOmcrTjQ" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <!----Meet Data Scientists at Google video -->
            <div class="col-lg-6 col-md-6 col-sm-12" style="padding-left: 0px; padding-right: 0%;">
                <iframe style="padding-left: 0px; padding-right: 0%" class="col-sm-12" height="400"
                        src="https://www.youtube.com/embed/0jQ25PSyb_E" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>

</body>